#source
  .big
    = @link["rows"].first["doc"]["source_word"]
    %sup= params[:source]
  .photos

#target
  .big
    = @link["rows"].first["doc"]["target_word"]
    %sup= params[:target]
  .photos

:javascript
  showPhoto = function(data, div) {
    if(!data["photos"]) return
    var photos = data["photos"]["photo"];
    for(i in photos) {
      $(div).append(
        '<a href="http://www.flickr.com/photos/' + photos[i]['owner'] + '/' + photos[i]['id'] + '">'+
        '<img src="http://farm' + photos[i]['farm'] + '.static.flickr.com/' + photos[i]['server'] + '/' + photos[i]['id'] + '_' + photos[i]['secret'] + '_s.jpg"/>'+
        '</a>'
      )    
    }
  }

  source = function(data) { showPhoto(data, '#source .photos') }
  target = function(data) { showPhoto(data, '#target .photos') }

%script{ :type => 'text/javascript', :src => "http://api.flickr.com/services/rest/?method=flickr.photos.search&api_key=34c75dcfb89d7d70c080705378867b8e&tags=#{@link["rows"].first["doc"]["source_word"]}&format=json&sort=interestingness-desc&content_type=json&per_page=10&jsoncallback=source"}

%script{ :type => 'text/javascript', :src => "http://api.flickr.com/services/rest/?method=flickr.photos.search&api_key=34c75dcfb89d7d70c080705378867b8e&tags=#{@link["rows"].first["doc"]["target_word"]}&format=json&sort=interestingness-desc&content_type=json&per_page=10&jsoncallback=target"}
